@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* @layer utilities{
    .bg-primary {
        background-color: #D90537;
    }
    .bg-primary-light {
        background-color: #e2355d;
    }

    .text-primary {
        color: #D90537;
    }

    .bg-secondary{
        background-color: #0355B5;
    }
    .bg-secondary-light{
        background-color: #136bcf;
    }

    .text-secondary{
        color: #0355B5;
    }

    .bg-primary-gray{
        background-color: #9a9a9a;
    }

    .bg-secondary-gray{
        background-color: #cccccc;
    }
} */

*::-webkit-scrollbar {
	width: 3px;
	height: 6px;
	background: transparent;
    height: 5px; /* Ajusta según tus preferencias */
}

*::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}

@layer components{
    .input{
        @apply h-8 bg-[#CCCCCC] border placeholder:text-gray-400 border-transparent text-gray-700 text-sm rounded-lg focus:ring-0 focus:border-primary block w-full p-2.5 disabled:cursor-not-allowed placeholder:text-xs placeholder:lg:text-sm;
    }

    .textarea{
        @apply bg-[#CCCCCC] placeholder:text-gray-400 border border-transparent text-gray-700 text-sm rounded-lg focus:ring-0 focus:border-primary block w-full p-2.5;
    }

    .label{
        @apply block mb-2 text-sm font-medium text-gray-600;
    }
    .hover-3dbuttom{
        @apply hover:shadow-sm hover:shadow-gray-400 hover:bg-gray-700 hover:text-white transition ease-in-out duration-300 hover:-translate-y-1;
    }
}
